.image-container {
  height: 300px;
  width: 200px;
  margin: 20px;
  border: 3px solid transparent;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  border: 3px solid rgb(0, 195, 255);
}