.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 20px;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: grab;
}

.image img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.image.selected {
  border-color: rgb(0, 195, 255);
}
